<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">



        <form (ngSubmit)="onLogin()"
              [formGroup]="loginForm">
            <legend>Login Form</legend>

            <div class="form-group my-3">
                <label for="email">Email</label>
                <input type="text"
                       class="form-control"
                       placeholder="Email Address"
                       formControlName="email">
            </div>

            <div class="form-group my-3">
                <label for="password">Password</label>
                <input type="password"
                       class="form-control"
                       placeholder="Please enter password"
                       formControlName="password">
            </div>

            <button [disabled]="!loginForm.valid"
                    type="submit"
                    class="btn btn-primary my-3">Login</button>

        </form>





        <button type="button"
                class="btn btn-warning my-3"
                (click)="onSignOut()">Sign out</button>


    </div>

</div>
